server:
  port: 8090
spring:
  profiles:
    group:
      "dev": "h2"
  application:
    name: eu-digital-green-certificates-gateway
  datasource:
    jndi-name: jdbc/dgc
  jpa:
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    hibernate:
      ddl-auto: validate
  liquibase:
    enabled: true
    change-log: classpath:db/changelog.xml
  task:
    scheduling:
      pool:
        size: 5
management:
  server:
    port: 8091
    ssl:
      enabled: false
  endpoint:
    info:
      enabled: true
    health:
      enabled: true
      probes:
        enabled: true
    metrics:
      enabled: true
    prometheus:
      enabled: true
  endpoints:
    enabled-by-default: false
    web:
      exposure:
        include: info,health,metrics,prometheus
    jmx:
      exposure:
        include: info,health,metrics,prometheus
  metrics:
    export:
      prometheus:
        enabled: true
dgc:
  jrc:
    url: https://covid-19-diagnostics.jrc.ec.europa.eu/devices/hsc-common-recognition-rat
    proxy:
      host: ${https.proxyHost:}
      port: ${https.proxyPort:-1}
      username: ${https.proxyUser:}
      password: ${https.proxyPassword:}
  validationRuleSchema: classpath:validation-rule.schema.json
  trustAnchor:
    keyStorePath: /ec/prod/app/san/dgc/dgc-ta.jks
    keyStorePass: dgc-p4ssw0rd
    certificateAlias: dgc_trust_anchor
  cert-auth:
    header-fields:
      thumbprint: X-SSL-Client-SHA256
      distinguished-name: X-SSL-Client-DN
      pem: X-SSL-Client-Cert
  revocation:
    delete-threshold: 14
  signer-information:
    delete-threshold: 14
  trustedCertificates:
    allowedProperties:
      - purpose
      - usergroup
      - scope
      - standard
      - displayName
      - displayLogo
      - validFrom
      - validUntil
      - pubkey
      - displayURL
    allowedDomains:
      - ICAO
      - DCC
      - SHC
      - CRED
      - RACSEL-DDVC
  did:
    enableDidGeneration: false
    contextMapping:
      "[https://www.w3.org/ns/did/v1]": did_v1.json
      "[https://w3id.org/security/suites/jws-2020/v1]": jws-2020_v1.json
  cloudmersive:
    apiKey: 0a0a0a0a-0a0a-0a0a-0a0a-0a0a0a0a0a0a
    url: https://api.cloudmersive.com
    enabled: false
springdoc:
  api-docs:
    enabled: false
