name: ci-main
on:
  workflow_dispatch:
  push:
    branches:
      - main
env:
  APP_PACKAGES_USERNAME: ${{ github.actor }}
  APP_PACKAGES_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
  APP_PACKAGES_URL: ghcr.io/worldhealthorganization/ddcc-gateway/ddcc-gateway

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165	# v5.0.0
        with:
          java-version: 17
          distribution: adopt
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8	# v5.0.0
        with:
          fetch-depth: 0
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830	# v4.3.0
        with:
          path: |
            ~/.m2/repository
          key: ${{ runner.os }}-${{ hashFiles('**/pom.xml') }}
      - name: version
        run: >-
          APP_SHA=$(git rev-parse --short ${GITHUB_SHA});
          APP_REV=$(git rev-list --tags --max-count=1);
          APP_TAG=$(git describe --tags ${APP_REV} 2> /dev/null || echo 0.0.0);
          APP_VERSION=${APP_TAG}-${APP_SHA};
          echo "APP_SHA=${APP_SHA}" >> ${GITHUB_ENV};
          echo "APP_TAG=${APP_TAG}" >> ${GITHUB_ENV};
          echo "APP_VERSION=${APP_VERSION}" >> ${GITHUB_ENV};
      - name: mvn
        run: >-
          mvn versions:set
          --batch-mode
          --file ./pom.xml
          --settings ./settings.xml
          --define newVersion="${APP_VERSION}";
          mvn clean package
          --batch-mode
          --file ./pom.xml
          --settings ./settings.xml
          --define app.packages.username="${APP_PACKAGES_USERNAME}"
          --define app.packages.password="${APP_PACKAGES_PASSWORD}";
      - name: Upload ZIP for TST
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4	# v5.0.0
        with:
          name: DDCCG001_TST
          path: target/DDCCG001_TST*
      - name: Upload ZIP for ACC
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4	# v5.0.0
        with:
          name: DDCCG001_ACC
          path: target/DDCCG001_ACC*
      - name: Upload ZIP for PRD
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4	# v5.0.0
        with:
          name: DDCCG001_PRD
          path: target/DDCCG001_PRD*
  build-docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165	# v5.0.0
        with:
          java-version: 17
          distribution: adopt
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8	# v5.0.0
        with:
          fetch-depth: 0
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830	# v4.3.0
        with:
          path: |
            ~/.m2/repository
          key: ${{ runner.os }}-${{ hashFiles('**/pom.xml') }}
      - name: version
        run: >-
          APP_SHA=$(git rev-parse --short ${GITHUB_SHA});
          APP_REV=$(git rev-list --tags --max-count=1);
          APP_TAG=$(git describe --tags ${APP_REV} 2> /dev/null || echo 0.0.0);
          APP_VERSION=${APP_TAG}-${APP_SHA};
          echo "APP_SHA=${APP_SHA}" >> ${GITHUB_ENV};
          echo "APP_TAG=${APP_TAG}" >> ${GITHUB_ENV};
          echo "APP_VERSION=${APP_VERSION}" >> ${GITHUB_ENV};
      - name: mvn
        run: >-
          mvn versions:set
          --batch-mode
          --file ./pom.xml
          --settings ./settings.xml
          --define newVersion="${APP_VERSION}";
          mvn clean install -P docker
          --batch-mode
          --file ./pom.xml
          --settings ./settings.xml
          --define app.packages.username="${APP_PACKAGES_USERNAME}"
          --define app.packages.password="${APP_PACKAGES_PASSWORD}";
      - name: docker
        run: >-
          echo "${APP_PACKAGES_PASSWORD}" |
          docker login "${APP_PACKAGES_URL}"
          --username "${APP_PACKAGES_USERNAME}"
          --password-stdin;
          docker build .
          --file ./Dockerfile
          --tag "${APP_PACKAGES_URL}:${APP_VERSION}";
          docker push "${APP_PACKAGES_URL}:${APP_VERSION}";
      - uses: actions/delete-package-versions@e5bc658cc4c965c472efe991f8beea3981499c55	# v5.0.0
        with:
          package-name: ddcc-gateway/ddcc-gateway
          package-type: container
          min-versions-to-keep: 7
          ignore-versions: '^[1-9]{1,}\.\d*\.\d*$'
  license:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165	# v5.0.0
        with:
          java-version: 17
          distribution: adopt
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8	# v5.0.0
        with:
          token: ${{ secrets.GPR_TOKEN_F11H }}
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830	# v4.3.0
        with:
          path: |
            ~/.m2/repository
          key: ${{ runner.os }}-${{ hashFiles('**/pom.xml') }}
      - name: mvn
        run: >-
          mvn license:update-file-header license:add-third-party
          --batch-mode
          --file ./pom.xml
          --settings ./settings.xml
          --define app.packages.username="${APP_PACKAGES_USERNAME}"
          --define app.packages.password="${APP_PACKAGES_PASSWORD}";
      - name: Commit and Push changes
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add .
          git diff --quiet && git diff --staged --quiet || git commit -m "Update License Header and Third Party Notices"
          git push

